{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('formulaireHab') }}
{% endblock %}

{% block body %}
<div class="page">
    <h3>Formulaire d'habitude d'hygiène bucco-dentaire</h3>

    <div class="contenu">
        <div class="info">
        </div>
        <div class="form">
        {{ form_errors(formulaireHabitude) }}

        {{ form_start(formulaireHabitude) }}
            
            <div class='date-container'>
                <span>Date du brossage : </span>
                {{ form_row(formulaireHabitude.dateBrossage,{
                    'name':'',
                }) }}
            </div>
                
            <div>
                {{ form_label(formulaireHabitude.nbBrossage) }}
                {{ form_widget(formulaireHabitude.nbBrossage) }}
            </div>

        <div class="form-row">
            <div>
                {{ form_label(formulaireHabitude.nettLangue) }}
                {{ form_widget(formulaireHabitude.nettLangue) }}
            </div>
            <div>
                {{ form_label(formulaireHabitude.filDentaire) }}
                {{ form_widget(formulaireHabitude.filDentaire) }}
            </div>
            <div>
                {{ form_label(formulaireHabitude.bainBouche) }}
                {{ form_widget(formulaireHabitude.bainBouche) }}
            </div>
        </div>
        
        <button type="submit" class="send">Enregistrer</button>
        {{ form_end(formulaireHabitude) }}
    </div>
</div>

{% endblock %}
