{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('formulaireHab') }}
{% endblock %}

{% block body %}
    <div class="form">
        <div class="form-rep">
        {{ form_start(formulaireHabitude)}}
        
        {{ form_errors(formulaireHabitude) }}
                
            {{ form_row(formulaireHabitude.dateBrossage,{
                'name':'',
                'label': 'Date de ton brossage dentaire :',
                'label_attr': {'class': formulaireHabitude.dateBrossage.vars.block_prefixes[0] != 'radio' ? 'classe-supplementaire' : ''},
                
            }) }}

            {{ form_row(formulaireHabitude.nbBrossage,{
                'name':'',
                'label':'Combien de fois as-tu brossé tes dents ce jour?',
                'label_attr': {'class': formulaireHabitude.nbBrossage.vars.block_prefixes[0] != 'radio' ? 'classe-supplementaire' : ''},
                'attr': {
                    'min': 0,
                    'max': 5,
                }
            }) }}

            {{ form_row(formulaireHabitude.nettLangue,{
                'name':'',
                'label':'As-tu procédé au nettoyage de ta langue ?',
                'label_attr': {'class': formulaireHabitude.nettLangue.vars.block_prefixes[0] != 'radio' ? 'classe-supplementaire' : ''}
            }) }}

            {{ form_row(formulaireHabitude.filDentaire,{
                'name':'',
                'label':'As-tu utilisé le fil dentaire au cours de la journée ?',
                'label_attr': {'class': formulaireHabitude.filDentaire.vars.block_prefixes[0] != 'radio' ? 'classe-supplementaire' : ''}
            }) }}

            {{ form_row(formulaireHabitude.bainBouche,{
                'name':'',
                'label':'As-tu effectué un bain de bouche ?',
                'label_attr': {'class': formulaireHabitude.bainBouche.vars.block_prefixes[0] != 'radio' ? 'classe-supplementaire' : ''}
            }) }}

            <div class = "form-button">
            <button type="submit" class="send">Enregistrer</button>
            </div>

            {{ form_end(formulaireHabitude) }}
        </div>

        <div class="info">
            <img src="{{ asset('images/shapes3.png') }}">
        </div>
    </div>
</div>

{% endblock %}
