{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('formulaireHab') }}
{% endblock %}

{% block body %}
<div class="page">

    <div class="contenu">
        <div class="info">
        <h3>BLABLABLABLA</h3>
        </div>

        <div class="form">
        <h3>Formulaire d'habitude d'hygiène bucco-dentaire</h3>
    
        {{ form_start(formulaireHabitude)}}
        
        {{ form_errors(formulaireHabitude) }}
            
            {{ form_row(formulaireHabitude.dateBrossage,{
                'name':'',
                'label': 'Date de votre brossage dentaire :'
            }) }}

            {{ form_label(formulaireHabitude.nbBrossage, 'Fréquence du brossage de ce jour :') }}
            {{ form_row(formulaireHabitude.nbBrossage,{
                'name':'',
                'attr': {
                    'min': 0,
                    'max': 5
                }
            }) }}

            {{ form_row(formulaireHabitude.nettLangue,{
                'name':'',
                'label':'Avez-vous nettoyé votre langue ?',
            }) }}

            {{ form_row(formulaireHabitude.filDentaire,{
                'name':'',
                'label':'Avez-vous utilisé le fil dentaire ?',
            }) }}

            {{ form_row(formulaireHabitude.bainBouche,{
                'name':'',
                'label':'Avez-vous utilisé un bain de bouche ?',
            }) }}

            <div class = "form-button">
            <button type="submit" class="send">Enregistrer</button>
            </div>

        </div>
        
        {{ form_end(formulaireHabitude) }}
    </div>
</div>

{% endblock %}
