<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        </head>
        <body>
                        
        <header>
            <div class="container">
                <div class="logo">
                    <a href="{{ path('home') }}">SmileCare</a>
                </div>
                <div class="menu">
                    <nav>
                        <ul>
                            <li><a href=""><div>Accueil</div></a></li>
                            <li><a href=""><div>À propos</div></a></li>
                            <li><a href=""><div>Contact</div></a></li>
                        </ul>
                    </nav>  
                </div>
            </div>
        </header>
    <!-- Sidebar -->
        <div class="wrapper">
            <aside class="sidebar">
                <ul class="sidebar-links">
                    <li><a href="#">Profil</a></li>
                    <li><a href="{{ path ("app_habitude") }}">Formulaire</a></li>
                    <li><a href="{{ path ("habitude_all") }}">Tableau de bord</a></li>
                    <li><a href="{{ path ("app_graphique") }}">Graphique</a></li>
                    <li><a href="{{ path ("app_conseil") }}">Conseils</a></li>
                    <li><a href="{{ path ("app_article") }}">Articles</a></li>
                    <a href="{{ path ("app_logout") }}">Logout</a>
                <ul>
            </aside>
        </div>
    </body>
</html>
        
        {% block body %}{% endblock %}
        